@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scrollbar-width: thin;
}

.backdrop-blur-lg {
  backdrop-filter: blur(5px);
  border-radius: 25px;
  background-color: #5050505d;
}

.hover-primarytext:hover {
  color: #ff1f44;
  display: block;
}

body {
  background: url(/photos/wallpaperhome.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.content {
  position: absolute;
  top: 40%;
  left: 8%;
}

.content .title {
  color: #0a0a0a;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(120deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #fd4766 79.69%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content h1 {
  color: #dadaff;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}

.content h1 span {
  color: #ff3d4d;
}

.content p {
  width: 55%;
  color: #dadaff;
  margin-top: 25px;
  margin-bottom: 30px;
}

.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 40;
  background-color: rgba(44, 44, 44, 0.4); /* Optional: adds slight background when sticky */
  backdrop-filter: blur(10px); /* Optional: adds blur effect behind the navbar */
  transition: top 0.3s ease-in-out; /* Smooth transition for sticky effect */
  width: 100%; /* Ensure navbar is full width */
}

.sticky-navbar a {
  color: white; /* Text color */
}

.sticky-navbar a:hover {
  color: #ff1f44; /* Color when hovered */
}
